
Crafty/.env
.idea/
.env
*.pyc
.DS_Store
Crafty/.DS_Store
Crafty/pipeline/.DS_Store
Crafty/pipeline/science/.DS_Store
.DS_Store
Crafty/.DS_Store
Crafty/pipeline/.DS_Store
Crafty/pipeline/science/.DS_Store
.DS_Store
/Crafty/pipeline/test_outputs
outputs/
*.mp4
